{% extends "home.html" %}
{% block content %}
<div style="width: 50%; margin: auto;">
    {% if data %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for todo in data  %}
                  
            <tr>
                <td>{{todo.id}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.status}}</td>
                <td>
                    <a href="{% url 'delete_todo' id=todo.id %}" class="btn btn-danger btn-sm">Delete</a> <a href="{% url 'edit_todo' id=todo.id %}" class="btn btn-primary btn-sm">Edit</a> <a class="btn btn-info btn-sm" href="{% url 'change_status' id=todo.id %}">Complete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h3>The todo list is empty!</h3>
    {% endif %}
   </div>
{% endblock %}